@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
        display: flex;
        li {
            padding : 10px;
            a {
                font-size : 1.2em;
                color : #00f;
            }
            &:hover{
                background-color: aqua;
            }
        }
	}
}